.polygon {
  fill-opacity: .5
}

.polygon_active {
  fill-opacity: 1 !important;
  fill: red !important;
}

#map {
  float: left;
}

#chart {
  float: left;
}

.polygon:hover {
  fill: blue !important;
  fill-opacity: .3 !important;
}

.axis.x text {
  transform: rotate(45deg) !important;
}
