.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: red;
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: all;
}

circle:hover {
  fill-opacity: .8 !important;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
